@model IEnumerable<MoviePro2.Models.Movie>

@using MoviePro2.Services
@inject IImageService imageService
  
@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New Movie</a>
</p>
<table class="table">
    <thead class="align-top">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.BGImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BGContentType)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <img class="img-fluid" src="@imageService.DecodePoster(item.Poster, item.ContentType)" width="50px" height="50px" />
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
            <td>
                <img class="img-fluid" src="@imageService.DecodePoster(item.BGImage, item.BGContentType)" width="50px" height="50px" />
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BGContentType)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Trailer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
