@model IEnumerable<MoviePro2.Models.Movie>

@using MoviePro2.Services
@inject IImageService imageService
  
@{
    ViewData["Title"] = "Index";
}

<h1>Movies</h1>

<p>
    <a asp-action="Create">Create New Movie</a>
</p>
<table class="table">
    <thead class="align-top">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.BGImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BGContentType)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Trailer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <img class="img-fluid" src="@imageService.DecodePoster(item.Poster, item.ContentType)" width="50px" height="50px" />
            </td>
            <td>
                @item.Rating | @Html.DisplayFor(modelItem => item.Rating)
            </td>
            @*<td>
            <img class="img-fluid" src="@imageService.DecodePoster(item.BGImage, item.BGContentType)" width="50px" height="50px" />
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BGContentType)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Trailer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="row mb-3">
    @foreach (var movie in Model)
    {
        <div class="col-sm-4 mb-3">
            <div class="card h-100 mb-3 shadow rounded-lg" style="width:18rem;">
                <a data-toggle="modal" data-target="#modal-@movie.Id">
                    <img class="card-img-top img-fluid" src="@imageService.DecodePoster(movie.Poster, movie.ContentType)" alt="@movie.Title picture" style="cursor: pointer;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <p class="card-text">@movie.TagLine</p>

                </div>
                <div class="card-footer text-muted">
                    <a asp-action="Edit" asp-route-id="@movie.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@movie.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
                </div>
            </div>
        </div>
    }

</div>


    @foreach (var movie in Model)
    {
        <div class="modal fade" id="modal-@movie.Id" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">@movie.Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>@movie.TagLine</p>
                        <p>@movie.Overview</p>
                        <p>@movie.Rating</p>
                        <p>@movie.ReleaseDate.ToString("MM/yy")</p>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    }

